body{
    background-color: #e5e5e5 !important;
  }
  
  .main-manu{
    display: flex;
    flex-direction: row;
   /* justify-content: space-evenly */
  }
.prev-slide{
 position: relative;
 top: 10px;
}
  .a{
    cursor: pointer;
  }

  .top-tag-bag{
    box-shadow: 20px 20px 50px black; 
  }

  .menu-btn{
    display: flex;
    flex-direction: row;
    /* justify-content: space-around; */
    justify-content: space-evenly;
  }
  .main-menu-item1{
    flex-basis: 10%;
  }
  .main-menu-item2{
    flex-basis: 40%;
  }
  .main-menu-item3{

    flex-basis: 50%;
  }
  .menu-btn-item{
    font-weight: 700;
  }

  .sm-tag-icon{
    display: none;
  }


  @media (max-width:1300px)  {
    #main-container-main{
      margin-left: 3%;
      margin-right: 3%;
    }
  }


@media (max-width:850px)  {

  #prev{
    display: none;
  }

  #next{
    display: none;
  }

.main-manu{
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: small;
    text-align: center;
   /* justify-content: space-evenly */
  }
}

.sebmenuimg{
    width: 60px;
    height: 60px;
  }
  .menu-tag{
    text-align: center;
    font-size: small;
    font-weight: 600;
  }
  .top-submenu{
    padding: auto;
    margin: auto;
  }

  .sub-tag-icon{
  text-decoration: none;
  color: black;
  }
  .sub-tag-icon:hover{
  text-decoration: none;
  color: rgb(0, 102, 255);
  }


  .sebmenuimg:hover{
    transform: scale(1.1);
  }
  #carouselExampleControls .carousel-control-next,#carouselExampleControls .carousel-control-prev{
    width: auto;
  }
  /* .carousel-control-prev-icon,.carousel-control-next-icon{
    background-color: #222 !important;
  } */
  .carousel-control-next, .carousel-control-prev{
    opacity: 1;
  }
  .mycontainer{
    margin-left: 5%;
    margin-right: 5%;
  }

  .flickity-page-dots{
    display: none;
  }

  .carousel-control-next-icon,.carousel-control-prev-icon{
    background-color:wheat; 
    padding: 46px 25px;
  }

  .menu-moblie{
      display: none
  }

  .top-offer-tag{
    margin-top:25%;
  }
  .moblie-banne{
    display: none;      
  }

  
  #top-tag-sm{
    display: none;   
  }

  #top-tag-md{
    display: block;   
    box-shadow: 0px 1px 2px #423939;
  }
  .pc_slider{
    display: block;
  }

  .slider_moblie{
    display: none;
  }

  #offer_banner_md{
     display: block;;
  }

  #offer_banner_sm{
     display: none;;
  }

  .links{
    display: none;
  }




  .product-title{
    font-weight: 600;
  }

  .product-price{
    color: green;
    font-weight: 600;
  }

  .mysub-banner{
    /* margin: 10px; */
    width: 100%;
      }

      /* .link-tag{
        color: gray; */
        /* display: contents; */
        /* border-left: 1px solid rgb(0, 0, 0);
        font-size: smaller;
        border-right: 1px solid #333;
        font-weight: 800; */
        /* color: darkgrey; */
      /* } */

      .tag-line{
        color: gray;
        font-size: smaller;
        
       }
      /* 
       .footer-tag-line{
           font-weight: 300;
           color: darkgrey;
       } */

       .footer-list{
         font-size: smaller;
         margin: 0px;
         color: gray;
      }

      .footer{
          color: #fff;
          font-size: smaller;
      }

      .last-footer-list{
          color: white;
          font-size: small;
          margin: 2px 0px;
          list-style: none;
          text-decoration: none;
      }
      .last-footer-list:hover{
          color: #fff;
          cursor: pointer;
          /* border: 1px solid #fff; */
      }

      .last-footer-title{
        color: #878787;
        font-size: small;
        cursor: pointer;
      }
      .line{
        border: 1px solid #fff;
      }
      .mycontainer-2{
          margin-left: 8%;
          margin-right: 8%;
      }

      #basic-addon2{
        background-color: #fff !important;
      }

    .menu-pc{
        position: fixed;
        top: 0;
        position:sticky;
        z-index: 4;
    }


    .img{
        width: 150px;
        height: 150px;
    }



    .carousel-wrap {
        width: 1000px;
        margin: auto;
        position: relative;
      }
      .owl-carousel .owl-nav{
        overflow: hidden;
        height: 0px;
      }
    
      .owl-theme .owl-dots .owl-dot.active span, 
      .owl-theme .owl-dots .owl-dot:hover span {
          background: #2caae1;
      }
    
    
      .owl-carousel .item {
          text-align: center;
      }
      .owl-carousel .nav-btn{
          height: 100px;
          position: absolute;
          width: 45px;
          cursor: pointer;
          top: 100px !important;
      }
    
      .owl-carousel .owl-prev.disabled,
      .owl-carousel .owl-next.disabled{
        pointer-events: none;
        opacity: 0.2;
      }
    
      .owl-carousel .prev-slide{
      
          left: -33px;
      }
      .owl-carousel .next-slide{
    
          right: -33px;
      }
      .owl-carousel .prev-slide:hover{
         background-position: 0px -53px;
      }
      .owl-carousel .next-slide:hover{
        background-position: -24px -53px;
      }

    
      span.img-text {
        text-decoration: none;
        outline: none;
        transition: all 0.4s ease;
        -webkit-transition: all 0.4s ease;
        -moz-transition: all 0.4s ease;
        -o-transition: all 0.4s ease;
        cursor: pointer;
        width: 100%;
        font-size: 23px;
        display: block;
        text-transform: capitalize;
      }
      span.img-text:hover {
        color: #2caae1;
      }

        .product-img{
  
          width: fit-content
      } 

      .product-img:hover{
          transform: scale(1.2);
      }

      /* product-images-slider */

      .img-inner{
          min-height: 220px;
          display: flex;
          align-items: center;
          justify-self: center;
      }
      .img-inner img{
          max-width: 100%;
      }

      .card{
            border: none;
      }

    .prev-btn,.next-btn
    {
      display: -ms-flexbox;
      display: flex;
      -webkit-align-self: center;
      -ms-flex-item-align: center;
      align-self: center;
      pointer-events: auto;
      padding: 40px 15px;
      box-shadow: 1px 2px 10px -1px rgb(0 0 0 / 30%) !important;
      background-color: hsla(0,0%,100%,.98) !important;
      cursor: pointer;
      position: absolute !important;
      top: 45% !important;
    }

    .prev-btn{
      margin-left: 44px;
      z-index: 2 !important;
      background-image: url('image/1.webp');
    }

    .next-btn{
      margin-right: 43px;
      z-index: 2 !important;
      background-image: url('image/1.webp');
      
    }

    .card{
      border: hidden !important;
    }

    .FXox6K{
      z-index: 3;
      margin-top: 0px 10px;
    }

    .p-link{
        text-decoration: none;
    }

    .product-title,.product-more{
      color: black !important;
    }

    .carousel-control-next-icon {
      height: 100px;
      width: 100px;
      outline: #fff;
      background-size: 100%, 100%;
      /* border: 1px solid #fff; */
      background-image: none;
      background-color: #fff !important;
      content: "<";
      color: #000;
    }

  .carousel-control-prev-icon{
    height: 100px;
    width: 100px;
    outline: #fff;
    background-size: 100%, 100%;
    /* border: 1px solid #fff; */
    background-image: none;
    background-color: #fff !important;
    content: "<";
    color: #000;
    }

    /* Main Menu */

 #menu{
      margin-top:15px;
    }

    #menu ul
    {
      list-style:none;
      position:relative;
      float:left;
      margin:0;
      padding:0;
    }

    #menu ul a
    {
      display:block;
      color:#000;
      text-decoration:none;
      /* font-weight:700; */
      font-size:15px;
      line-height:32px;
      padding:0 15px;
      
      /* font-family:Helvetica,Arial,sans-serif; */
    }



    #menu ul li
    {
      position:relative;
      float:left;
      margin:0;
      padding:0
    }

    #menu ul li.active
    {
      background:#fff
    }

/* 
    #menu ul li:hover
    {
      background:#f6f6f6
     background: #2ecc71;
    } */

    #menu ul ul
    {
      display:none;
      position:absolute;
      top:100%;
      left:0;
      background:#fff;
      box-shadow:  1px 1px 15px #888888;
      padding:0
    }

    #menu ul ul li
    {
      float:none;
      width:250px;
      text-align: start;
      z-index: 7;
      color: rgb(25, 148, 196);
      background:#fff;
      margin: -2px;
      padding: -2px;
      background-color: #0d6dfd09;
    }

    /* #menu ul ul li:hover{
      border-left: 3px solid #fff;
    } */

    #menu ul ul a
    {
      /* line-height:120%; */
      padding:10px 15px
    }

    #menu ul ul ul
    {
      top: -1px;
      left:100%;

    }

    #menu ul li:hover > ul
    {
      display:block;
      z-index: 7;
    }

    .sub-menu{
      z-index: 6;
    }

    .menu{
      display: flex;
      justify-content: space-between;
    }
    
    .sub-tag-icon{
      margin: 0px 20x;
    }

    .top-tag-bag{
      color: #000;
      text-decoration: none;
      font-size: small;
    }

    .size-small{
      font-size: small;
      padding-top: 5px;

    }

    .sidebar-container{
      background-color: #2874f0;
      color: #fff;
      padding-left: 20px;
    }
    
    .sidebar-icon{
      width: 60%;
    }

    *{
      font-family: Roboto,Arial,sans-serif;
    }

    .bar-tag-link{
      color: #000;
      text-decoration: none;
    }

    .offcanvas-start{
      width: 300px !important;
    }

    .closeButton{
      height: 100%;
      width: 200%;
    }
    .mobile-bg-color{
      position: absolute;
      /* right: -295px;
       */
       right: 100;
      z-index: -1;
      top: 0;
      background-color: #222;
      height: 100%;
      width: 100vw;
      opacity: 0.5;
    }

    .offcanvas {
      z-index: 15;
    }

    .top-submenu:hover{
      color: #0d6efd;
    }

    .dropdown-menu1{
      display: none;
    }

    .top-submenu:hover .dropdown-menu1{
        display: block;
       
    }
    .dropdown-contaner{
      display: flex;
      flex-direction: row;
      background-color: #FFF;
      width: 30%;
    }
    
    .col1{
      box-shadow: 1px 0px 10px 000;
      border: 0px;
    }
        
    .col2{
      box-shadow: 1px 0px 2px 000;
      border: 0px;
    }
    
    .viewmenu{
      display: flex;
      flex-direction: row;
    } 

  .itama{
    flex-basis: 80%;
    background-color: #FFF;
  }

  .itamb{
    flex-basis: 20%;
    background-color: #FFF;
  } 

  .offerbar{
    display: flex;
    padding: 20px;
    justify-content: space-between;
    align-items: stretch;
  } 
  .card-body{
font-size: medium;
  }

  .product-img{
    width: 50%;
    height: 50%;
  }

  .footer-last-menu{
    display: flex;
    /* align-items: center; */
    justify-content: space-between;
    /* flex-direction: row; */
  }

  .mycontainer-last{
    margin-left: 3%;
    margin-right: 3%; 
  }

  .megasubmenu{ padding:1rem; }

  /* .top-tag-sm-icon{
    display: none;
  } */

  #sm-tag-icons{
    display: none;
  }


  @media (min-width: 781px) and (max-width: 991.98px) { 
    .main-menu-item2{
      width: 50%;
    }
    .footer-last-menu{
        flex-direction: column;
      }

      .menu-moblie{
        display: block;
      }
      .menu-pc{
        display: none;
      }
      .owl-carousel_sm{
        display: block;
      }

      /* .top-tag-sm-icon{
        display: block;
      }

      #top_tag_md_icon{
        display: none;
      } */


      
  #sm-tag-icons{
    display: block;
  }
  
  #top_tag_md_icon{
    display: none;
  }


   }


 @media screen and (min-device-width: 481px) and (max-device-width: 780px) { 
  .footer-last-menu{
    flex-direction: column;
  }
  .menu-moblie{
    display: block;
  }
  .menu-pc{
      display: none;
  }
  .owl-carousel_sm{
    display: block;
  }
  #offer_banner_sm{
    display: block;;
 }
 
 #offer_banner_md{
  display: none;
}
#sm-tag-icons{
  display: block;
}


#top_tag_md_icon{
  display: none;
}

/* 
.top-tag-sm-icon{
  display: block;
}

#top_tag_md_icon{
  display: none;
} */

} 


@media screen and (min-device-width: 1px) and (max-device-width: 480px) { 

  #sm-tag-icons{
    display: block;
  }

  #top_tag_md_icon{
    display: none;
  }

  .payment{
    display: none;
  }
    .footer-last-menu{
      flex-direction: column;
    }
    .menu-moblie{
      display: block;
    }
    .menu-pc{
        display: none;
    }

    #offer_banner_sm{
      display: block;;
  }

  .owl-carousel_sm{
    display: block;
  }
  #offer_banner_sm{
    display: block;
  }

  #offer_banner_md{
    display: none;
  }

  .pc_slider{
    display: none;
  }

  .slider_moblie{
    margin-top: 50px;
    display: block;
  }
/*   
  .top-tag-sm-icon{
    display: block;
  }

  #top_tag_md_icon{
    display: none;
  } */
} 

/* 
@media (max-width:480px )  {  

  .footer-last-menu{
   flex-direction: column;
  }

  .links{
    display: block;
  }

  
  #offer_banner_sm{
    display: block;;
 }

  #offer_banner_md{
    display: none;
  }

  .slider_moblie{
    display: block;
  }

  .pc_slider{
    display: none;
  }

  #top-tag-md{
    display: none;   
  }


  #top-tag-sm{
    display: block;
  }

  .moblie-banne{
    display: block;      
  width: 100%;
  }

  .menu-moblie{
      position: fixed;
      top: 0;
      position:sticky;
      z-index: 3;
  }
  .col-sm-12{
    margin-top: 5px;
    margin-bottom: 5px;
  }
    
.top-offer-tag{
  margin-top:1%;
}
.menu-pc{
  display: none;
}
.menu-moblie{
  display: block ;
}
.carousel-control-next-icon,.carousel-control-prev-icon{
  padding: 5px 5px;

}

.carousel-cell {
width: 50%; /* half-width 
height: 160px;
margin-right: 10px;
}

.carousel-control-prev-icon,.carousel-control-next-icon{
display: none;
}
.carousel-cell {
width: 33%;
height: 160px;
margin-right: 10px;
}

.payment{
  width: 90%;
}

.product-cell.size-180 { width: 180px; }
.product-cell.size-large { width: 75%; }

.flickity-page-dots {
bottom: 0px;
}

.flickity-page-dots .dot {
width: 12px;
height: 12px;
opacity: 1;
background: transparent;
border: 2px solid white;
}

.flickity-page-dots .dot.is-selected {
background: white;
}
.carousel-cell {
width: 100%; /* full width */
/*height: 160px; 
margin-right: 10px;
}

} */


 /* ============ desktop view ============ */
@media all and (min-width: 992px) {
	.megasubmenu{ 
		left:100%; 
    top:0; 
    min-height: 100%;
     min-width:500px;
	}
	
	.dropdown-menu > li:hover .megasubmenu{
		display: block;
	}
}	
